[submodule "themes/infinity-hugo"]
	path = themes/infinity-hugo
	url = https://github.com/themefisher/infinity-hugo.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadotdev/hugo-theme-introduction.git
